# Задание 1

In [ ]:
# 1. Выберите заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес.
SELECT CustomerName, Address, Country 
FROM Customers
WHERE Country IN ('Germany', 'France') OR City = 'Madrid';

In [ ]:
# 2. Выберите топ 3 страны по количеству заказчиков, выведите их названия и количество записей.
SELECT TOP 3 Country, Count(*) AS CustomerNumber
FROM Customers
GROUP BY Country
ORDER BY Count(*) DESC;

In [ ]:
# 3. Выберите перевозчика, который отправил 10-й по времени заказ, выведите его название, и дату отправления.
SELECT ShipperName, OrderDate 
FROM Shippers AS S
INNER JOIN Orders AS O ON S.ShipperID = O.ShipperID
ORDER BY OrderDate
LIMIT 9, 1;

In [ ]:
# 4. Выберите самый дорогой заказ, выведите список товаров с их ценами.
SELECT ProductName, Price
FROM OrderDetails AS OD
INNER JOIN Products AS P ON OD.ProductID = P.ProductID
WHERE OrderID = (SELECT OrderID
				FROM OrderDetails AS OD
				INNER JOIN Products AS P ON OD.ProductID = P.ProductID
				GROUP BY OrderID
				ORDER BY SUM(Quantity*Price) DESC
				LIMIT 1);

In [ ]:
# 5. Какой товар больше всего заказывали по количеству единиц товара, 
# выведите его название и количество единиц в каждом из заказов.
SELECT OrderID, ProductName, Quantity
FROM OrderDetails AS OD
INNER JOIN Products AS P ON OD.ProductID = P.ProductID
WHERE OD.ProductID = (SELECT ProductID
					FROM OrderDetails
					GROUP BY ProductID
					ORDER BY SUM(Quantity) DESC
					LIMIT 1);

In [ ]:
# 6. Выведите топ 5 поставщиков по количеству заказов, выведите их названия, страну, контактное лицо и телефон.
SELECT SupplierName, ContactName , Country, Phone
FROM OrderDetails AS OD
INNER JOIN Products AS P ON OD.ProductID = P.ProductID
INNER JOIN Suppliers AS S ON P.SupplierID = S.SupplierID
GROUP BY S.SupplierID
ORDER BY SUM(Quantity) DESC
LIMIT 5;

In [ ]:
# 7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии,
# выведите страну, название категории и сумму.
SELECT Country, CategoryName, SUM(Price*Quantity) AS TotalIncome
FROM Categories AS Cat
INNER JOIN Products AS Prod ON Cat.CategoryID = Prod.CategoryID
INNER JOIN OrderDetails AS OD ON Prod.ProductID = OD.ProductID
INNER JOIN Orders ON OD.OrderID = Orders.OrderID
INNER JOIN Customers AS Cust ON Orders.CustomerID = Cust.CustomerID
WHERE Country = 'Brazil'
GROUP BY Cat.CategoryID
ORDER BY SUM(Price*Quantity) DESC
LIMIT 1;

In [ ]:
# 8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США.
SELECT
	MAX(Total) - Min(Total) AS Diff
FROM (SELECT SUM(Quantity*Price) AS Total
	FROM OrderDetails AS OD
	INNER JOIN Products AS Prod ON OD.ProductID = Prod.ProductID
	INNER JOIN Orders ON OD.OrderID = Orders.OrderID
	INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID
	WHERE Country = 'USA'
	GROUP BY Orders.CustomerID
	ORDER BY SUM(Quantity*Price) DESC);

In [ ]:
# 9. Выведите количество заказов у каждого их трех самых молодых сотрудников,
# а также имя и фамилию во второй колонке.
SELECT Count(*) AS TotalOrders, (Lastname || ' ' || Firstname) AS FullName
FROM Orders AS O
INNER JOIN Employees AS E ON O.EmployeeID = E.EmployeeID
GROUP BY E.EmployeeID
ORDER BY BirthDate DESC
LIMIT 3;

In [ ]:
# 10. Сколько банок крабового мяса всего было заказано.
# Изучив таблицу Products я установил, что в 1 юните "Boston Crab Meat" находится 24 четырех-унцевые банки
# Отсюда взялся числовой коэфициент 24 в запросе
SELECT (SUM(Quantity) * 24) AS CrabMeatTins
FROM OrderDetails AS OD
INNER JOIN Products AS P ON OD.ProductID = P.ProductID
GROUP BY OD.ProductID
HAVING ProductName = 'Boston Crab Meat';